@charset "UTF-8";
:root {
  --main-color: #5E7EF1;
  --primary-dark: #121212;
}

.van-button {
  border-radius: 8px;
}

a {
  color: currentColor;
}

* {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F6F6FB;
  color: #121212;
  font-size: 17px;
}

.page-container {
  padding-bottom: 40px;
}

.box {
  background-color: #fff;
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 30vh 24px 0;
}

.empty.home {
  padding: 24px 0;
  background-color: #fff;
  border-radius: 8px;
}

.empty img {
  width: 50px;
  height: 50px;
}

.empty .text {
  color: #999;
  text-align: center;
  font-size: 16px;
}

.nav {
  height: 44px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: .3s;
}

.nav.light.nav-scroll-up .back_btn {
  color: #fff;
}

.nav.light.nav-scroll-up .title {
  color: #fff;
}

.nav.light .back_btn {
  color: #121212;
}

.nav.light .title {
  color: #121212;
}

.nav .back_btn {
  position: absolute;
  left: 14px;
  color: #fff;
  font-size: 24px;
  width: 80px;
  display: flex;
}

.nav .title {
  font-weight: bold;
  line-height: 24px;
  color: #fff;
}

.nav.nav-scroll-up {
  background-color: var(--main-color);
}

.nav .right_btn {
  position: absolute;
  right: 14px;
  font-weight: bold;
  color: #fff;
}

.home_bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.banner {
  padding: 0 16px 16px;
  height: 176px;
  display: flex;
  flex-direction: column;
}

.banner .swiper-wrapper {
  flex: 1;
}

.banner .swiper-wrapper .swiper-slide p {
  font-size: 14px;
}

.my-swipe {
  height: 176px;
  margin-top: 8px;
}

.my-swipe .van-swipe__indicators {
  bottom: 0;
}

.my-swipe .van-swipe__indicators .van-swipe__indicator {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #C9D3FA;
  opacity: 1;
}

.my-swipe .van-swipe__indicators .van-swipe__indicator--active {
  background-color: var(--main-color);
  width: 16px;
}

.my-swipe .van-swipe__track {
  height: 160px;
}

.my-swipe .van-swipe-item {
  color: #fff;
  font-size: 20px;
  line-height: 150px;
  text-align: center;
  background-color: #39a9ed;
  width: calc(100vw - 32px) !important;
  border-radius: 8px;
  margin: 0 16px;
  overflow: hidden;
}

.my-swipe .van-swipe-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mine_entrance {
  background-color: #fff;
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: bold;
}

.mine_entrance .avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: #ebebeb;
  background-size: cover;
}

.mine_entrance .text {
  flex: 1;
  color: #121212;
}

.mine_entrance i {
  color: #666;
  font-size: 22px;
}

.event {
  margin: 16px;
}

.event.history {
  margin-bottom: 60px;
}

.event.history .title::after {
  background-color: #BDBDBD;
  opacity: .4;
}

.event .title {
  line-height: 28px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.event .title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 10px;
  background-color: #C9D3FA;
  z-index: -1;
}

.event .event_list {
  margin: 16px 0;
}

.event .event_list .event_item {
  margin: 16px 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  gap: 12px;
}

.event .event_list .event_item .event_img {
  width: 126px;
  height: 90px;
  border-radius: 4px;
  margin-top: 4px;
  background-color: #C9D3FA;
}

.event .event_list .event_item .detail {
  flex: 1;
  overflow: hidden;
}

.event .event_list .event_item .detail .name {
  line-height: 28px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event .event_list .event_item .detail .tag {
  margin-top: 4px;
  display: flex;
}

.event .event_list .event_item .detail .tag .status {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: #BDBDBD;
  margin-right: 4px;
}

.event .event_list .event_item .detail .tag .status.ongoing {
  background-color: #27AE60;
}

.event .event_list .event_item .detail .tag .status.remaining {
  background-color: #F2C94C;
}

.event .event_list .event_item .detail .desc {
  margin-top: 4px;
  font-size: 15px;
  color: #666;
  line-height: 22px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0 16px;
}

.header .avatar {
  width: 68px;
  height: 68px;
  border-radius: 34px;
  background-color: #ebebeb;
  background-size: cover;
}

.header .name {
  padding-top: 4px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #fff;
}

.header .gold_coin {
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 16px;
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 18px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin-top: 8px;
}

.header .gold_coin img {
  width: 16px;
  height: 16px;
}

.brief .title {
  position: relative;
}

.brief .title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 10px;
  background-color: #C9D3FA;
  z-index: -1;
}

.brief .title .text {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
}

.brief .title .status {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: #BDBDBD;
  margin: 4px 0 4px 4px;
  display: inline-block;
  vertical-align: top;
}

.brief .title .status.ongoing {
  background-color: #27AE60;
}

.brief .basic_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.brief .basic_info .item {
  display: flex;
}

.brief .basic_info .item img {
  width: 18px;
  height: 18px;
  padding-top: 4px;
}

.brief .basic_info .item .label {
  padding-left: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.brief .basic_info .item .value {
  font-size: 16px;
  line-height: 26px;
  flex: 1;
  padding-left: 16px;
}

.brief .hint {
  font-size: 16px;
  color: #999;
}

.sign_up {
  gap: 12px;
  align-items: center;
}

.sign_up .remaining {
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
  display: flex;
  gap: 4px;
}

.sign_up .remaining .num {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  background-color: var(--main-color);
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
}

.sign_up .ticket_info {
  font-size: 16px;
  line-height: 26px;
  color: #999;
}

.intro .title {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  z-index: 2;
  align-self: baseline;
}

.intro .title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 10px;
  background-color: #C9D3FA;
  z-index: -1;
}

.intro .content {
  font-size: 16px;
  line-height: 28px;
  color: #666;
}

.intro .content .decimal_list {
  list-style-type: decimal;
  padding-left: 20px;
}

.intro .content .decimal_list .lower-alpha_list {
  list-style-type: lower-alpha;
  padding-left: 20px;
}

.intro .content .disc_list {
  list-style-type: disc;
  padding-left: 20px;
}

.innovation_list {
  display: grid;
  margin: 16px;
  grid-template-columns: 1fr;
  gap: 16px;
}

.innovation_list .item {
  height: 90px;
  border-radius: 8px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.innovation_list .item::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--main-color);
  opacity: .2;
  background-blend-mode: color;
  z-index: -1;
}

.innovation_list .item span {
  color: #000;
  font-weight: bold;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  width: 90%;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.account_list {
  display: grid;
  margin: 16px;
  grid-template-columns: 1fr;
  gap: 12px;
}

.account_list .item {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 16px;
  display: flex;
  gap: 16px;
  align-items: center;
  overflow: hidden;
}

.account_list .item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #E0E0E0;
}

.account_list .item .info {
  flex: 1;
  overflow: hidden;
}

.account_list .item .info .title {
  font-weight: bold;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 4px;
  color: #121212;
}

.account_list .item .info .desc {
  font-size: 14px;
  color: #666;
  line-height: 18px;
}

.account_list .item i {
  font-size: 24px;
  padding: 0 8px;
  color: #999;
}

.account_brief {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 16px;
  margin: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
  overflow: hidden;
}

.account_brief img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #E0E0E0;
}

.account_brief .info {
  flex: 1;
  overflow: hidden;
}

.account_brief .info .title {
  font-weight: bold;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 4px;
  color: #121212;
}

.account_brief .info .desc {
  font-size: 14px;
  color: #666;
  line-height: 18px;
}

.van-search {
  background-color: transparent !important;
  padding: 4px 16px 0;
  gap: 4px;
}

.van-search .van-search__content {
  padding-left: 0;
  background-color: #fff;
  border-radius: 8px;
}

.van-search .van-search__content .van-cell {
  padding: 10px 14px;
}

.van-search .van-search__action {
  background-color: #F2994A;
  border-radius: 8px;
  padding: 5px 24px;
  color: #fff;
  font-weight: bold;
}

.search_result {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.search_result .item {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search_result .item .id {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.search_result .item .id img {
  width: 20px;
  height: 20px;
  padding-right: 4px;
}

.search_result .item .date {
  font-size: 16px;
  color: #999;
}

.notification {
  background-color: #fff;
  border-radius: 8px;
  padding: 8px 12px;
  margin: 12px 16px 8px;
  display: flex;
  gap: 12px;
  align-items: center;
  overflow: hidden;
}

.notification img {
  width: 30px;
  height: 30px;
}

.notification .text {
  flex: 1;
  font-size: 15px;
  font-weight: bold;
}

.filter_box {
  display: flex;
  margin: 8px 0 -8px;
}

.filter_box .van-dropdown-menu {
  width: 100%;
  height: 40px;
  background-color: transparent;
}

.filter_box .van-dropdown-menu::after {
  border-width: 0;
}

.van-popup .title {
  font-size: 18px;
  font-weight: bold;
  padding: 24px;
}

.van-popup .form {
  padding-bottom: 60px;
}

.van-popup .form .van-cell {
  padding: 10px 24px;
}

.content_box {
  padding-bottom: 80px;
}

.message_box {
  background-color: #fff;
  margin: 12px 16px 0;
  padding: 12px 16px;
  border-radius: 8px;
}

.message_box .titlebox {
  font-weight: bold;
}

.message_box .tags {
  padding-top: 4px;
  display: flex;
}

.message_box .tags .tag {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: #BDBDBD;
  margin-right: 4px;
}

.message_box .tags .tag.department {
  background-color: #27AE60;
}

.message_box .tags .tag.type {
  background-color: #F2C94C;
}

.message_box .footer {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.message_box .footer .time {
  font-size: 14px;
  color: #666;
}

.message_box .footer .status {
  font-size: 14px;
  font-weight: bold;
}

.message_box .footer .status.status-pending {
  color: #F2994A;
}

.message_box .footer .status.status-complete {
  color: #BDBDBD;
}

.van-tabbar-item__icon img {
  height: 24px;
  margin-bottom: -2px;
}

.link {
  flex-direction: row;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.my_tag {
  width: 90%;
  text-align: center;
  margin-top: 16px;
}

.my_tag .tag {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: #27AE60;
  margin-right: 4px;
  display: inline-block;
}

.my_tag .tag:nth-child(5n+1) {
  background-color: #27ae60;
}

.my_tag .tag:nth-child(5n+2) {
  background-color: #f39c12;
}

.my_tag .tag:nth-child(5n+3) {
  background-color: #3498db;
}

.my_tag .tag:nth-child(5n+4) {
  background-color: #e74c3c;
}

.my_tag .tag:nth-child(5n+5) {
  background-color: #2c3e50;
}

.added_tag .tag {
  font-weight: bold;
  line-height: 28px;
  color: #fff;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: #27AE60;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.added_tag .tag:nth-child(5n+1) {
  background-color: #27ae60;
}

.added_tag .tag:nth-child(5n+2) {
  background-color: #f39c12;
}

.added_tag .tag:nth-child(5n+3) {
  background-color: #3498db;
}

.added_tag .tag:nth-child(5n+4) {
  background-color: #e74c3c;
}

.added_tag .tag:nth-child(5n+5) {
  background-color: #2c3e50;
}

.more_tag .tag {
  font-weight: bold;
  line-height: 28px;
  color: #fff;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: #BDBDBD;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.mine_menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 24px 16px;
}

.mine_menu .item {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  padding: 20px 24px;
  align-items: center;
  gap: 16px;
}

.mine_menu .item img {
  width: 26px;
  height: 26px;
}

.mine_menu .item span {
  flex: 1;
  font-weight: 500;
}

.tag-empty-state {
  text-align: center;
  margin: 24px 0;
  color: #999;
}

.departent_info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.departent_info .item {
  display: flex;
  gap: 16px;
}

.departent_info .item .label {
  width: 70px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

.departent_info .item .value {
  flex: 1;
  font-size: 16px;
  line-height: 1.6;
}

.van-swipe-cell__right {
  display: flex;
  align-items: center;
  right: 16px;
  padding-left: 16px;
}
