<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>政策超市</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<!-- 引入样式文件 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.2/lib/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.min.css">

	<!-- 引入 Vue 和 Vant 的 JS 文件 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.2/lib/vant.min.js"></script>
</head>
<body>
	<div id="app">

		<!-- 导航栏 -->
        <nav class="nav nav-scroll-up" >
			<a class="back_btn" href="policy_mine.html"><van-icon name="arrow-left" /></a>
			<span class="title">我的收藏</span>
		</nav>



		<!-- 我的收藏列表 -->
		<div class="content_box">
			<div v-if="notifyList.length === 0" >
				<!-- 空状态 -->
				<div class="empty">
					<img src="images/nodate.svg">
					<div class="text">暂无任何收藏</div>
				</div>
			</div>
			<van-swipe-cell v-else v-for="item in notifyList">
				<div class="message_box">
					<div class="titlebox">{{item.title}}</div>
					<div class="tags">
						<span class="tag department">{{item.department}}</span>
						<span class="tag type">{{item.type}}</span>
					</div>
					<div class="footer">
						<span class="time">申报时间: {{item.time}}</span>
						<span class="status" :class="{'status-pending': item.status === '正在申报', 'status-complete': item.status === '申报结束'}">{{item.status}}</span>
					</div>
				</div> 
				<template #right>
				  <van-button square text="删除" type="danger" class="delete-button" />
				</template>
			</van-swipe-cell>		 
		</div> 

	</div>  


	<script type="text/javascript">

		var app = new Vue({
			el: '#app',
			data: {
				notifyList:[{
					title:'《上海市服务业发展引导资金使用和管理办法》',
					department:'发改委',
					type:'现在服务业发展',
					time:'2023-03-20',
					status:'正在申报'
				},{
					title:'《上海市服务业发展引导资金使用和管理办法》',
					department:'发改委',
					type:'现在服务业发展',
					time:'2023-03-20',
					status:'申报结束'
				}]
			}
		});
	</script>	
</body>
</html>